/*.footer {*/
    /*position: absolute;*/
    /*right: 0;*/
    /*bottom: 0;*/
    /*left: 0;*/
    /*padding: 1rem;*/
    /*background-color: #efefef;*/
    /*text-align: center;*/
/*}*/

/*--footer-starts--*/
.footer-left p{
    color:#000;
    font-size:15px;
}
.footer-left p a{
    color:#000;
}
.footer-left input[type="text"] {
    width: 47%;
    margin-right: 10px;
    color: #000;
    font-size: 11px;
    background: none;
    padding: 8px 10px;
    outline: none;
    border: none;
    border: 1px solid #000;
}
.footer-left input[type=submit] {
    color: #000;
    padding: 6px 20px;
    font-size: 13px;
    cursor: pointer;
    border: 1px solid #000;
    background: none;
    outline: none;
}
.footer-left input[type=submit]:hover{
    background: #73B6E1;
    color:#fff;
    border: 1px solid #73B6E1;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.footer{
    padding:3em 0px;
}
.footer-right {
    text-align: right;
}
.footer-right p {
    margin: 8px 0 0 0;
    font-size: 13px;
    color: #000;
}
.footer-right p a{
    color: #000;
}
.footer-right p a:hover{
    color: #73B6E1;
    text-decoration:none;
}
/*--footer-end--*/