<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"

      xmlns:sec="http//www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8">
    <title>WEB| Ecommerce</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="/css/payment.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.13.1/jquery.validate.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.payment/1.2.3/jquery.payment.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/payment.css}">
</head>
<body>

<nav class="navbar navbar-inverse bg-primary">

    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" th:href="@{/index}">
                <lable>Ecommerce</lable>
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#"><img alt="" th:src="@{/images/logo_buyonline.png}" height=35px;
                                                    width=35px;><span class="sr-only">(current)</span></a></li>
                <li><a href="#">
                    <span th:utext="${userName}"></span>
                </a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">Categories <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Mobile</a></li>
                        <li><a href="#">Consoles</a></li>
                        <li><a href="#">Tv's</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">See all</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">sales</a></li>
                    </ul>
                </li>
            </ul>
            <form class="navbar-form navbar-left" method="get" th:object="${productFilter}" th:action="@{/search}">

                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search product">
                </div>
                <button type="submit" class="btn btn-info">
                    <span class="glyphicon glyphicon-search"></span><a th:href="@{/search}"></a>Search
                </button>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <li><a th:href="@{/cart}"><img
                        src="https://cdn4.iconfinder.com/data/icons/shopping-v1-1/64/shopping_cart_dollar_sign_payment_add_shop-128.png"
                        height=35px; width=35px;></a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false"><img
                            src="https://cdn4.iconfinder.com/data/icons/user-icon-2/100/user-04-128.png"
                            height=35px;
                            width=35px;> <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Profile</a></li>

                        <li><a th:href="@{/dashboard/edit}" sec:autorize="hasRole('ROLE_ADMIN')">Admin</a></li>
                        <li role="separator" class="divider"></li>
                        <li>
                        <li><a href="/logout">
                            <button type="button" class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-log-out"></span> Log out
                            </button>
                        </a></li>
                        </li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>


<div class="container">
    <ol class="breadcrumb">
        <li><a href="#">Review</a></li>
        <li class="active"><a href="#">Order</a></li>
        <li><a href="#">Payment</a></li>
    </ol>
    <span class="label label-success" th:utext="${adminMessage}"></span>
    <div class="label label-success">
        <span th:utext="${userName}"></span>
    </div>
</div>

<div class="container text-center">
    <div class="container">
        <div class="row">
            <!-- You can make it whatever width you want. I'm making it full width
                 on <= small devices and 4/12 page width on >= medium devices -->
            <div class="col-xs-12 col-md-4">


                <!-- CREDIT CARD FORM STARTS HERE -->
                <div class="panel panel-default credit-card-box">
                    <div class="panel-heading display-table" >
                        <div class="row display-tr" >
                            <h3 class="panel-title display-td" >Payment Details</h3>
                            <div class="display-td" >
                                <img class="img-responsive pull-right" src="http://i76.imgup.net/accepted_c22e0.png">
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <form role="form" id="payment-form" method="POST" action="javascript:void(0);">
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="form-group">
                                        <label for="cardNumber">CARD NUMBER</label>
                                        <div class="input-group">
                                            <input
                                                    type="tel"
                                                    class="form-control"
                                                    name="cardNumber"
                                                    placeholder="Valid Card Number"
                                                    autocomplete="cc-number"
                                                    required autofocus
                                            />
                                            <span class="input-group-addon"><i class="fa fa-credit-card"></i></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-7 col-md-7">
                                    <div class="form-group">
                                        <label for="cardExpiry"><span class="hidden-xs">EXPIRATION</span><span class="visible-xs-inline">EXP</span> DATE</label>
                                        <input
                                                type="tel"
                                                class="form-control"
                                                name="cardExpiry"
                                                placeholder="MM / YY"
                                                autocomplete="cc-exp"
                                                required
                                        />
                                    </div>
                                </div>
                                <div class="col-xs-5 col-md-5 pull-right">
                                    <div class="form-group">
                                        <label for="cardCVC">CV CODE</label>
                                        <input
                                                type="tel"
                                                class="form-control"
                                                name="cardCVC"
                                                placeholder="CVC"
                                                autocomplete="cc-csc"
                                                required
                                        />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="form-group">
                                        <label for="couponCode">COUPON CODE</label>
                                        <input type="text" class="form-control" name="couponCode" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <button class="subscribe btn btn-success btn-lg btn-block" type="button">Start Subscription</button>
                                </div>
                            </div>
                            <div class="row" style="display:none;">
                                <div class="col-xs-12">
                                    <p class="payment-errors"></p>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- CREDIT CARD FORM ENDS HERE -->


            </div>

            <div class="col-xs-12 col-md-8" style="font-size: 12pt; line-height: 2em;">
                <div class="col-md-7 col-sm-12 text-left">
                    <div th:each="cart :${allProducts}" class="show-products">
                        <h2 th:text="${cart.name}" style="font-size: medium"></h2>
                        <h2 style="text-decoration-color: black">Description:</h2>
                        <h2 th:text="${cart.description}" style="font-size: medium"></h2>
                        <h2 class="inner-content"><img th:src="${cart.imageUrl}" width="400" height="500"/></h2>
                        <h2 style="text-decoration-color: black">Price $</h2>
                        <h2 th:text="|$${cart.price}|" style="font-size: small"></h2>

                    </div>
                </div>

            </div>

        </div>
    </div>



    <div class="col-md-5 col-sm-12">
        <div class="bigcart"></div>
        <h1>Your shopping cart</h1>
        <p>
            <img src="https://lh5.googleusercontent.com/-SWaCREsCOUQ/AAAAAAAAAAI/AAAAAAAAAvQ/UrjFGQGj5Aw/s0-c-k-no-ns/photo.jpg"
                 width="80px" height="80">
        </p>
        <button class="btn btn-primary">Order Now</button>
        <br>
        <div>
            <p> <b>Protect your online payment data.</b>
                With the G2A Wallet you can shop safely within the entire G2A Ecosystem.
                Deposit funds for free, check your balance from all devices and make easy currency exchanges.</p>
        </div>
    </div>






    <!-- The popover content -->

    <div id="popover" style="display: none">
        <a href="#"><span class="glyphicon glyphicon-pencil"></span></a>
        <a href="#"><span class="glyphicon glyphicon-remove"></span></a>
    </div>


    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- <img th:src="@{/images/eddd.png}" alt="New york" style="width:100%;"> -->
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
</body>

</html>